<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>it <%= kindOfDay %> </h1>
   
   
    <ul>
        <l>8 hours of sleep</l>
        <l> 3 meals </l>
        <l> 1 hour of exercise </l>
        <input type="text" name="name" id="name" action="/" method="post">
        <button type="submit">Submit</button>  
    </ul>
    
</body>
</html>